   <div class="footerFeedback"> Have Feedback for us? </div>
    <div class="row">
      <div class="col-md-6 col-sm-12"><a href="">Privacy Policy</a> <a href="">Español</a></div>
      <div class="col-md-6 hidden-xs hidden-sm text-right">Connect with Us</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">© 2016 NV Energy, a subsidiary of Berkshire Hathaway Energy</div>
      <div class="col-md-6 col-sm-12 text-right">
        <ul class="socialIcons">
          <li><img src="images/icon-fb.png"></li>
          <li><img src="images/icon-twitter.png"></li>
          <li><img src="images/icon-linkedin.png"></li>
          <li><img src="images/icon-yt.png"></li>
        </ul>
      </div>
    </div>